.table{
     border-collapse: collapse;

    font-size:14px;
margin: auto;
}
.table td:empty{ background-color: white;}
.table tr,.table td,.table th{ border: 2px solid #CCCCCC;
    padding:4px 25px 8px 23px;
    margin: 6px;
    text-align: center;  vertical-align: top;}
.table th{
    padding: 0px 0px 0px 0px;
    text-align: center;
    vertical-align: middle;
    background-color:#045AA5;
    color:#FFFFFF;
     font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 0.8em;
}
.table th:first-child{
        font-size: 10px;
  width:74px;
    padding: 0px;
    margin: 0px;
}
.table td{
    background-color:#FFF8B9;
    min-width:  150px;
    max-width: 230px;
}
.red{color:red;
font-weight:700;
      font-family: Arial, Helvetica, sans-serif;
}
.font-weight{
   font-weight: bold;
    font-size: 1.1em;
    margin: 4px 0 4px 0;
}
.font-weight-smoll{
font-weight: 100;
}
.teacher-name{
    font-style:italic;
}
