body{
 font-family: Georgia, 'Times New Roman', Times, serif;
}.table2{border-collapse: collapse;}
.table2 tr,.table2 td,.table2 th{
    border: 1px solid black;border-collapse: collapse;
    padding: 8px;
    margin: 6px;
   }

.table2 .tr1{ background-color: #F7E98F;}
.table2 .tr2{ background-color:  #F7E98F;}
.table2 .tr3{ background-color: #90F6E8;}
.table2 .tr4{ background-color:#F58F9D;}




.table3 th{background-color: #F7E98F;}
.table3 .tr5{background-color: #538135;  z-index: inherit;}
.table3 td:first-child,.table3  th:first-child{background-color: #9CC2E5;  padding: 7px;margin: 0; }
.table3 {   border-collapse: collapse;

   }
#tr1{background-color: #F7E98F;}
.table3 tr,.table3 td,.table3 th{
    border: 1px solid black;
    padding: 8px 40px 8px 40px;
    margin: 6px;
    text-align: center;
   }
.table3 .tr2{
     padding: 8px 70px 8px 70px;
}
#delen{ text-align: right;background-color: #538135;padding-right: 20px; }
.table4{
     border-collapse: collapse;
}
.table4 tr,.table4 td,.table4 th{ border: 1px solid black;
    padding:4px 25px 8px 23px;
    margin: 6px;
    text-align: center;  vertical-align: top;}

.table5{
     border-collapse: collapse;
}
.table5 tr,.table5 td,.table5 th{ border: 3px solid #9E3100;
    padding:4px 25px 8px 23px;
    margin: 6px;
    text-align: center;  vertical-align: top;}
.table5 td{background-color:#F3E1C7 ;}
.table5 tfoot tr{ text-align:left; }
.table5 tfoot td{background-color:#2E4E96; text-align:left;padding:21px 27px 107px 23px;}
.table5 tfoot td:last-child{background-color: #F3E1C7;}
.table5 tfoot td:first-child{color: #FFFFFF;}
.table5 th{ background-color: #2E4E96;color:#FD9808; text-align:left;  padding: 14px 16px 25px 16px; font-size: 26px; font-family: Arial, Helvetica, sans-serif;
font-weight:300; }
.table6{  font-family: Arial, Helvetica, sans-serif; border-collapse: collapse;


}
.table6 td{ border: 3px solid #C8E396;
    padding:4px 25px 8px 23px;
    margin: 6px;
       }
.table6 td:{background-color: red;}

.table6 .shapka{ color:#D3C430; background-color: darkgreen; width: 300px; height: 44px;
font-size:32px;}
.table6 .menu{  background-color: #C4BB2D;width: 120px; height: 250px;
    text-align:right;vertical-align: bottom;
font-size:19px;}
.table6 .content{ background-color: #DADDC7;width: 200px; height: 100px;
font-size:23px;text-align: top;
vertical-align: top;
padding-top: 30px;
}
.table6 .footer{ color:#D3C430; background-color: darkgreen;width: auto; height: 10px;
font-size:14px;
text-align: left;
padding: 5PX 5PX 3PX 5PX;

}
.table7{  border-collapse: collapse;}
.table7 td{ border: 3px solid #9E3100;
    padding:4px 25px 8px 23px;
    margin: 6px;
    text-align: center;  vertical-align: top;}
.table7 .shapka{ font-family: Verdana, Arial, Helvetica, sans-serif;
vertical-align: middle; text-align: left;background-color:#A27EB3 ; font-size: 22px; color:#26003A; width:170px ; height:40px ; padding: 10px 10px 10px 23px;}
.table7 .menu{text-align: left;background-color:#E6CAF3 ; font-size: 16px; color:#000000; width:0px ; height:0px ;}
.table7 .neas{ vertical-align: middle; background-color:#480468 ; font-size: 18px; color:white; width:0px ; height:0px ;}
.table7 .content{ text-align: left; background-color:#F3E1C7 ; font-size: 17px; color:#000000; width:0px ; height:135px ;}
.table7 .footer{background-color:#9BCAEF ; border: 3px solid #9BCAEF;
height: 25px;
}
