
.p1
{
color:red;text-align: center;
}

.p2
{
text-align: center;
}

.p3
{
 color:red;text-align: center;
}

#indentef2{
color: deeppink;
}
p>a{
    color:red;
}

.spusok1>li>ul>li a{
    color: hotpink;


}

.spusok1>li>ul>li{
 list-style-type: none;
}
.spusok1>li>a{
    color: green;
}
.spusok1>li:last-child>ul>li{
    list-style-type: square;
}







.body {
  width: 450px;
  margin: 0;
  padding: 10px;

  font-size: 14px;
  font-family: "Arial", sans-serif;
}

.logo,
.contacts,
.about-us,
.main-menu,
.footer {
  padding: 10px 20px 10px 20px;

  background-color: #f5f5f5;
  border: 2px solid #cccccc;
}

/* Собственные стили блоков */
.header {
  min-height: 40px;
  margin-bottom: 20px;
}

.logo {
  float: left;
  width: 230px;
  background-color: #333 ;
  color:#fff;
font-weight: bold;
  text-align: center;
}

.contacts {
  float: right;
  width: 110px;
    background-color: #333 ;
  color:#fff;
font-style:italic;
  text-align: center;
}

.about-us {
  width: 230px;
  margin-bottom: 20px;
  float:left;
  font-style:bold;

}

.about-us h1 {
font-size:20px;
}

.about-us p {
  font-size: 12px;
}

.main-menu {
  width: 110px;
  float:right;

}

.footer {

clear:both;
  background-color: #333 ;
  color:#fff;

}
