h1+ p{
    font-size: 20px;
}
p+p code{color:green;
}
h3+p code{color:green;}
.body-style{
    width:290px;

    font-size: 20px;
    font-weight: bold;
}
.body-style li {
    list-style-type: none;

}

.body-style >ul>li{
       background-color: green;
color:white;
 padding-bottom: 10px;
    border-bottom: 3px solid white;
padding-left: 5px;
}

.body-style li ul {
    padding-left: 5px;
    margin: 0px;

}
.body-style li ul li{
    font-size: 16px;
    background-color: darkorange;
    padding-bottom: 10px;
    color:black;
    width: 220px;
    padding-left: 10px;

}

.body-style2{
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    width: 390px;
    padding: 5px;
    margin: 0px 0px 0px 55px;
}
.body-style2 .border{
    border-top: 3px solid blue;
     border-left: 3px solid red;
    border-right: 3px solid yellow;
    border-bottom: 3px solid green;

}
.body-style2 .border h1{
    margin-bottom: 0px;
    margin-top: 0px;
    color:red;
}
.body-style2 .border ol{
    width: 245px;

}
.body-style2 .border ol li{
    font-size: 18px;
    color:yellow;
    padding-bottom: 10px;
}
.body-style2 .border ol li:nth-child(2)>samp{
vertical-align: sub;
}

.body-style2 .border ol li:nth-child(3)>samp{
    text-decoration:underline;
font-size: 16px;
}
.body-style2 .border ol li:last-child>div{
    text-decoration:underline;


}
.body-style2 .border ol+p{
      border-top: 1.2px solid white;
    padding-top: 15px;
   margin-bottom: 5px;
    color:white;
    font-style: italic;
    font-size:21px;

}
.body-style2 .border p+span{
    color: blue;
width: 255px;
    height: 100px;
    font-size:18px;


}
.body-style2 .border p+span>p{
    margin: 0px;
}
.body-style2 .border+a>img{
    width: 220px;
    padding: 20px;
}


fieldset{
    width: 400px;
    background-color: #E1E3B8;
}


fieldset>legend{
    color:#9A4B31;
font-weight: 600;
}
fieldset>legend+div{
    font-weight: 600;
}
fieldset>form{
float: right;
margin-right: 25%;

}
fieldset>form input[type="submit"]{
    background:#B98F59;
    border: 1px solid #E3D1BE;
    color:#F6F3B4;
}









