/* Используемые цвета:
  teal, lightseagreen, gold
*/

svg {
  border: 1px solid #dddddd;
    display: block;
}
.class1{stroke:teal; stroke-width:80;
stroke-linecap:square;
stroke-linejoin:miter;
}
.class2{ stroke-width:50; stroke:lightseagreen; fill:none; stroke-linecap:round;
stroke-linejoin:round;
}
.class3{
  stroke-width:10;
  stroke:gold;fill:none;
  stroke-linejoin:bevel;

stroke-linecap:square;
}
/* Используемые цвета:
  tomato, darkorange, gold
*/


.dasha1{
fill:none;
stroke:tomato;
stroke-width:150;
stroke-dasharray:15,15;

}
.dasha2{
  fill:none;

  stroke:darkorange;
stroke-width:125;
stroke-dasharray:10,10;
  }
.dasha3{
  fill:gold;
  stroke:gold;
  stroke-width:75;
  stroke-dasharray:15, 10;
  }


/* Используемые цвета:
  gold, tomato, darkorange, yellowgreen
*/


.offset1{
  fill:gold;
  }
.offset2{stroke:tomato;
stroke-width:60;

}
.offset3{stroke:darkorange;
stroke-width:60;
stroke-dasharray:30,30 25,40;
stroke-dashoffset:30;
}
.offset4{ fill:gold; stroke:yellowgreen; stroke-width:20;}
